replicaCount: 1
resourcesPreset: ""

image:
  repository: ghcr.io/ahmed-shehzad/sol9-gateway-api
  tag: "dev"
  pullPolicy: Always

imagePullSecrets:
  - name: ghcr-auth

serviceAccount:
  create: true
  name: ""
  automount: false

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: false
  className: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: gateway.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

env:
  aspnetcoreEnvironment: Development
  urls: http://0.0.0.0:8080
  bookingsAddress: ""
  ordersAddress: ""
  extra: {}

resources:
  requests:
    cpu: 100m
    memory: 256Mi
    ephemeral-storage: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
    ephemeral-storage: 1Gi

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 75

pdb:
  enabled: false
  minAvailable: 1
  maxUnavailable: ""

probes:
  liveness:
    path: /health
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 3
  readiness:
    path: /health
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 3
