services:
  webapplication1:
    build:
      context: .
      dockerfile: WebApplication1/Dockerfile
    ports:
      - "5026:8080"
      - "5027:8081"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      TransponderSettings__GrpcPortOffset: "1"
      TransponderSettings__LocalServiceName: "webapplication1"
      TransponderSettings__RemoteServiceName: "webapplication2"
  webapplication2:
    build:
      context: .
      dockerfile: WebApplication2/Dockerfile
    ports:
      - "5266:8080"
      - "5267:8081"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      TransponderSettings__GrpcPortOffset: "1"
      TransponderSettings__LocalServiceName: "webapplication2"
      TransponderSettings__RemoteServiceName: "webapplication1"
