{{- if .Values.hpa.enabled }}
{{- $targetApiVersion := "apps/v1" -}}
{{- $targetKind := "Deployment" -}}
{{- if .Values.rollouts.enabled -}}
{{- $targetApiVersion = "argoproj.io/v1alpha1" -}}
{{- $targetKind = "Rollout" -}}
{{- end }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "sol9.fullname" (dict "root" . "component" "bookings-hpa") }}
  labels:
    {{- include "sol9.labels" (dict "root" . "component" "bookings-api") | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: {{ $targetApiVersion }}
    kind: {{ $targetKind }}
    name: {{ include "sol9.fullname" (dict "root" . "component" "bookings-api") }}
  minReplicas: {{ .Values.hpa.bookings.minReplicas }}
  maxReplicas: {{ .Values.hpa.bookings.maxReplicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.hpa.bookings.targetCPUUtilizationPercentage }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "sol9.fullname" (dict "root" . "component" "orders-hpa") }}
  labels:
    {{- include "sol9.labels" (dict "root" . "component" "orders-api") | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: {{ $targetApiVersion }}
    kind: {{ $targetKind }}
    name: {{ include "sol9.fullname" (dict "root" . "component" "orders-api") }}
  minReplicas: {{ .Values.hpa.orders.minReplicas }}
  maxReplicas: {{ .Values.hpa.orders.maxReplicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.hpa.orders.targetCPUUtilizationPercentage }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "sol9.fullname" (dict "root" . "component" "gateway-hpa") }}
  labels:
    {{- include "sol9.labels" (dict "root" . "component" "gateway") | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: {{ $targetApiVersion }}
    kind: {{ $targetKind }}
    name: {{ include "sol9.fullname" (dict "root" . "component" "gateway") }}
  minReplicas: {{ .Values.hpa.gateway.minReplicas }}
  maxReplicas: {{ .Values.hpa.gateway.maxReplicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.hpa.gateway.targetCPUUtilizationPercentage }}
{{- end }}
