{{- $bookingsConn := .Values.secret.connectionStrings.bookings -}}
{{- if eq $bookingsConn "" -}}
{{- $bookingsConn = printf "Host=%s;Database=%s;Username=%s;Password=%s" (include "bookings-api.postgresHost" .) .Values.postgres.database .Values.postgres.username .Values.postgres.password -}}
{{- end -}}
{{- $transponderConn := .Values.secret.connectionStrings.transponder -}}
{{- if eq $transponderConn "" -}}
{{- $transponderConn = $bookingsConn -}}
{{- end -}}
{{- $redisConn := .Values.secret.connectionStrings.redis -}}
{{- if eq $redisConn "" -}}
{{- $redisConn = printf "redis://%s:%d" (include "bookings-api.redisHost" .) (int .Values.redis.port) -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "bookings-api.fullname" . }}
  labels:
    {{- include "bookings-api.labels" . | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__Bookings: {{ $bookingsConn | quote }}
  ConnectionStrings__Transponder: {{ $transponderConn | quote }}
  ConnectionStrings__Redis: {{ $redisConn | quote }}
