{{- $ordersConn := .Values.secret.connectionStrings.orders -}}
{{- if eq $ordersConn "" -}}
{{- $ordersConn = printf "Host=%s;Database=%s;Username=%s;Password=%s" (include "orders-api.postgresHost" .) .Values.postgres.database .Values.postgres.username .Values.postgres.password -}}
{{- end -}}
{{- $transponderConn := .Values.secret.connectionStrings.transponder -}}
{{- if eq $transponderConn "" -}}
{{- $transponderConn = $ordersConn -}}
{{- end -}}
{{- $redisConn := .Values.secret.connectionStrings.redis -}}
{{- if eq $redisConn "" -}}
{{- $redisConn = printf "redis://%s:%d" (include "orders-api.redisHost" .) (int .Values.redis.port) -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "orders-api.fullname" . }}
  labels:
    {{- include "orders-api.labels" . | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__Orders: {{ $ordersConn | quote }}
  ConnectionStrings__Transponder: {{ $transponderConn | quote }}
  ConnectionStrings__Redis: {{ $redisConn | quote }}
